API_BASE_URL=https://alamat-backend-vps-anda.com/api
GOOGLE_MAPS_API_KEY=isi_api_key_maps
GOOGLE_MAPS_ANDROID_DEBUG_KEY=isi_api_key_maps_debug
GOOGLE_MAPS_ANDROID_RELEASE_KEY=isi_api_key_maps_release
GOOGLE_MAPS_WEB_KEY=isi_api_key_maps_web
GOOGLE_MAPS_MAP_ID=isi_map_id_untuk_advanced_marker
MANAGER_DECISION_ENABLED=true
